/.cargo/
/.rustup/
/target/
/.idea/
/coverage.json
/coverage*.json
/coverage*.txt
/.local-data/
/.test-logs/
/scripts/tmp/
.DS_Store
/.claude/
**/node_modules/
**/dist/
**/.vite/
**/.angular/
**/playwright-report/
**/test-results/
/internal/embedded-ui/*
!/internal/embedded-ui/index.html
