services:
  keycloak:
    image: quay.io/keycloak/keycloak:26.0.8
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_HEALTH_ENABLED: "true"
    command:
      - start-dev
      - --import-realm
      - --http-port=8080
      - --hostname-strict=false
    ports:
      - "0:8080"
    volumes:
      - ../infra-demo/keycloak-common/realm-nss.json:/opt/keycloak/data/import/realm-nss.json:ro

  master:
    depends_on:
      postgres:
        condition: service_healthy
      keycloak:
        condition: service_started
    environment:
      NSS_INSECURE_DEV: "true"
      NSS_AUTH_MODE: ${NSS_AUTH_MODE_OVERRIDE:-oidc}
      NSS_OIDC_ISSUER_URL: http://keycloak:8080/realms/nss
      NSS_OIDC_CLIENT_ID: nss-console
      NSS_OIDC_CLIENT_SECRET: ""
      NSS_OIDC_REDIRECT_URL: http://master:9001/console/v1/oidc/callback
      NSS_OIDC_SCOPES: openid profile email
      NSS_OIDC_AUDIENCE: nss-console
      NSS_OIDC_USERNAME_CLAIM: preferred_username
      NSS_OIDC_DISPLAY_NAME_CLAIM: name
      NSS_OIDC_GROUPS_CLAIM: realm_access.roles
      NSS_OIDC_ADMIN_GROUPS: nss-admin
