services:
  postgres:
    image: postgres:18-alpine
    environment:
      POSTGRES_USER: ${NSS_POSTGRES_USER}
      POSTGRES_PASSWORD: ${NSS_POSTGRES_PASSWORD}
      POSTGRES_DB: ${NSS_POSTGRES_DB}
    volumes:
      - postgres-data:/var/lib/postgresql
    networks:
      - nss
    deploy:
      restart_policy:
        condition: on-failure

  redis:
    image: redis:7-alpine
    networks:
      - nss
    deploy:
      restart_policy:
        condition: on-failure

  rabbitmq:
    image: rabbitmq:4-management-alpine
    networks:
      - nss
    deploy:
      restart_policy:
        condition: on-failure

  master:
    image: ${NSS_IMAGE}
    # platform: linux/amd64
    environment:
      NSS_MODE: master
      NSS_POSTGRES_DSN: >-
        postgres://${NSS_POSTGRES_USER}:${NSS_POSTGRES_PASSWORD}@postgres:5432/${NSS_POSTGRES_DB}?sslmode=disable
      NSS_DATA_DIRS: /data
      NSS_ADMIN_BOOTSTRAP_USER: ${NSS_ADMIN_BOOTSTRAP_USER}
      NSS_ADMIN_BOOTSTRAP_PASSWORD: ${NSS_ADMIN_BOOTSTRAP_PASSWORD}
      NSS_SECRET_ENCRYPTION_KEY_BASE64: ${NSS_SECRET_ENCRYPTION_KEY_BASE64}
      NSS_JWT_SIGNING_KEY_BASE64: ${NSS_JWT_SIGNING_KEY_BASE64}
      NSS_INTERNAL_SHARED_TOKEN: ${NSS_INTERNAL_SHARED_TOKEN}
      NSS_INTERNAL_ADVERTISE: http://master:9003
      NSS_S3_PUBLIC_URL: https://${NSS_S3_HOST}
      NSS_REDIS_URL: ${NSS_REDIS_URL}
      NSS_RABBIT_URL: ${NSS_RABBIT_URL}
      NSS_CORS_ALLOW_ORIGINS: ${NSS_CORS_ALLOW_ORIGINS}
      NSS_LOG_LEVEL: ${NSS_LOG_LEVEL}
    volumes:
      - master-data:/data
    networks:
      - nss
      - traefik-net
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
      labels:
        - "traefik.enable=true"
        - "traefik.docker.network=${TRAEFIK_NETWORK}"
        - "traefik.http.routers.nss-s3.rule=Host(`${NSS_S3_HOST}`)"
        - "traefik.http.routers.nss-s3.entrypoints=${TRAEFIK_ENTRYPOINT}"
        - "traefik.http.routers.nss-s3.priority=1"
        - "traefik.http.routers.nss-s3.tls=true"
        - "traefik.http.routers.nss-s3.tls.certresolver=${TRAEFIK_CERT_RESOLVER}"
        - "traefik.http.services.nss-s3.loadbalancer.server.port=9000"
        - "traefik.http.routers.nss-ui.rule=Host(`${NSS_UI_HOST}`)"
        - "traefik.http.routers.nss-ui.entrypoints=${TRAEFIK_ENTRYPOINT}"
        - "traefik.http.routers.nss-ui.priority=1"
        - "traefik.http.routers.nss-ui.tls=true"
        - "traefik.http.routers.nss-ui.tls.certresolver=${TRAEFIK_CERT_RESOLVER}"
        - "traefik.http.services.nss-ui.loadbalancer.server.port=9001"
        - "traefik.http.routers.nss-metrics.rule=Host(`${NSS_METRICS_HOST}`)"
        - "traefik.http.routers.nss-metrics.entrypoints=${TRAEFIK_ENTRYPOINT}"
        - "traefik.http.routers.nss-metrics.priority=1"
        - "traefik.http.routers.nss-metrics.tls=true"
        - "traefik.http.routers.nss-metrics.tls.certresolver=${TRAEFIK_CERT_RESOLVER}"
        - "traefik.http.services.nss-metrics.loadbalancer.server.port=9100"

networks:
  nss:
    driver: overlay
  traefik-net:
    external: true
    name: ${TRAEFIK_NETWORK}

volumes:
  postgres-data:
  master-data:
