name: nss-keycloak-oidc

services:
  postgres:
    extends:
      file: ../../docker-compose.yml
      service: postgres

  keycloak:
    image: quay.io/keycloak/keycloak:26.0.8
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_HEALTH_ENABLED: "true"
    command:
      - start-dev
      - --import-realm
      - --http-port=8080
      - --hostname-strict=false
    ports:
      - "8080:8080"
    volumes:
      - ../keycloak-common/realm-nss.json:/opt/keycloak/data/import/realm-nss.json:ro
      - ../../.dev-data/keycloak-oidc:/opt/keycloak/data

  master:
    extends:
      file: ../../docker-compose.yml
      service: master
    depends_on:
      postgres:
        condition: service_healthy
      keycloak:
        condition: service_started
    environment:
      NSS_AUTH_MODE: oidc
      NSS_OIDC_ISSUER_URL: http://keycloak:8080/realms/nss
      NSS_OIDC_CLIENT_ID: nss-console
      NSS_OIDC_CLIENT_SECRET: ""
      NSS_OIDC_REDIRECT_URL: http://localhost:9001/console/v1/oidc/callback
      NSS_OIDC_SCOPES: openid profile email
      NSS_OIDC_AUDIENCE: nss-console
      NSS_OIDC_USERNAME_CLAIM: preferred_username
      NSS_OIDC_DISPLAY_NAME_CLAIM: name
      NSS_OIDC_GROUPS_CLAIM: realm_access.roles
      NSS_OIDC_ADMIN_GROUPS: nss-admin

  join-token-seed:
    extends:
      file: ../../docker-compose.yml
      service: join-token-seed

  replica1:
    extends:
      file: ../../docker-compose.yml
      service: replica1

  replica2:
    extends:
      file: ../../docker-compose.yml
      service: replica2

  replica3:
    extends:
      file: ../../docker-compose.yml
      service: replica3

  observability-bootstrap:
    extends:
      file: ../../docker-compose.yml
      service: observability-bootstrap

  loki:
    extends:
      file: ../../docker-compose.yml
      service: loki

  promtail:
    extends:
      file: ../../docker-compose.yml
      service: promtail

  prometheus:
    extends:
      file: ../../docker-compose.yml
      service: prometheus

  thanos-sidecar:
    extends:
      file: ../../docker-compose.yml
      service: thanos-sidecar

  grafana:
    extends:
      file: ../../docker-compose.yml
      service: grafana

  demo-traffic:
    extends:
      file: ../../docker-compose.yml
      service: demo-traffic

  redis:
    extends:
      file: ../../docker-compose.yml
      service: redis

  rabbitmq:
    extends:
      file: ../../docker-compose.yml
      service: rabbitmq
